@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
<<<<<<< HEAD
    ViewBag.Title = "Batch Entry";
=======
    ViewBag.Title = ""
>>>>>>> 7701f2a062ed3d0b521abc1d265cb4fb92c7166a
}
<section class="content-header">
    <h1>
        Entry Page
        <small>batch</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="col-lg-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Batch Entry Form</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Organization</label>

                            <div class="col-sm-7">
                                <select class="form-control">
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Course</label>

                            <div class="col-sm-7">
                                <select class="form-control">
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                    <option value="1">Option1</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Batch No</label>

                            <div class="col-sm-5">
                                <input type="password" class="form-control" placeholder="Write Batch No">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Description</label>

                            <div class="col-sm-7">
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="start" class="col-sm-3 control-label">Start Date</label>

                            <div class="col-sm-4">
                                <input type="text" class="form-control pull-right" id="startdatepicker" name="birthDate" placeholder="2018-09-13" required> 
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="start" class="col-sm-3 control-label">End Date</label>

                            <div class="col-sm-4">
                                <input type="text" class="form-control pull-right" id="enddatepicker" name="birthDate" placeholder="2018-09-13" required>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-info pull-right">Save</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </section>
        <!-- /.Main Board -->
        <!-- right col -->
    </div>
    <!-- /.row (main row) -->
</section>